.section {
    padding: 72px 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 88px;
    margin-bottom: 16px;
    gap: 16px;
}

.title {
    font-family: var(--font-family);
    font-size: 32px;
    font-weight: 700;
    color: var(--color-black);
}

.link {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 700;
    color: var(--color-green-darker);
    text-decoration: none;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.list> :nth-child(4) {
      display: block;
}

@media (min-width: 768px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
    .list> :nth-child(4) {
        display: block;
    }
  .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }        
}

@media (min-width: 1440px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
    .list> :nth-child(4) {
        display: none;
    }
}