.navLink {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-green-darker);
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}

.navLinkActive {
  border-bottom-color: var(--color-green-darker);
}

@media (min-width: 768px) {
  .navLink {
    transition: color var(--transition-hover);
  }

  .navLink:hover {
    color: var(--color-green);
  }
}

@media (min-width: 1440px) {
  .navLink {
    transition: transform var(--transition-hover);
  }

  .navLink:hover {
    transform: translateY(-2px);
  }
}
