.wrapper {
  display: flex;
  flex-direction: column;
}

.loadMoreOnly {
  display: block;
}

.paginationOnly {
  display: none;
}

@media screen and (min-width: 768px) {
  .loadMoreOnly {
    display: none;
  }

  .paginationOnly {
    display: block;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 8px 0px;
}

.item {
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 172px;
  text-decoration: none;
  text-align: center;
  padding: 12px;
}

.avatar {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-gray);
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 24px;
  color: var(--color-green-darker);
}

.image {
  object-fit: cover;
}

.name {
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 24px;
  color: var(--color-black);
}

.card:hover .avatar,
.card:focus-visible .avatar {
  box-shadow: 0 0 0 3px var(--color-light-green);
}

@media screen and (min-width: 768px) {
  .card {
    width: 286px;
  }

  .list {
    gap: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .list {
    justify-content: flex-start;
  }
}
