:root {
  --color-green: #649179;
  --color-green-darker: #374f42;
  --color-light-green: #d1e0d8;
  --color-white: #f7fffb;
  --color-black: #070721;
  --color-gray: #595d62;
  --color-light-gray: #9f9f9f;
  --color-error: #ad6a6c;

  --transition-hover: 0.3s ease-in-out;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.55;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
  font-family: var(--font-manrope);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}
