.desktopNav {
  display: none;
}

.desktopNavList {
  display: flex;
  align-items: center;
  gap: 32px;
}

.desktopAuth {
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktopAuthAuthenticated {
  gap: 32px;
}

.accountGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  width: 1px;
  height: 32px;
  flex-shrink: 0;
  background-color: var(--color-green-darker);
  opacity: 0.3;
}

@media (min-width: 1440px) {
  .desktopNav {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}
