.content {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-black);
}

.paragraph {
  margin-bottom: 24px;
}

.paragraph:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .content {
    font-size: 17px;
  }
}

@media (min-width: 1440px) {
  .content {
    font-size: 18px;
  }
}
