.userBar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: var(--color-light-gray); /* TODO: реальне фото користувача */
  flex-shrink: 0;
}

.userName {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-green-darker);
}

.divider {
  width: 1px;
  height: 39px;
  background-color: var(--color-green-darker);
}
