.userBar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  background-color: var(--color-light-gray);
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  flex-shrink: 0;
  object-fit: cover;
}

.userName {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-green-darker);
}

.divider {
  width: 1px;
  height: 39px;
  background-color: var(--color-green-darker);
}
