.main {
  padding-top: 48px;
}

.section {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}



.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.count {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--color-black);
}

/* React Select */

.select {
  width: 169px;
}

.select :global(.reactSelect__control) {
  min-height: 33px;
  height: 33px;

  border: 1px solid var(--color-light-gray);
  border-radius: 4px;

  background: var(--color-white);
  box-shadow: none;

  cursor: pointer;
  transition: border-color 0.2s ease;
}

.select :global(.reactSelect__control:hover) {
  border-color: var(--color-gray);
}

.select :global(.reactSelect__control.reactSelect__control--is-focused) {
  border-color: var(--color-gray);
  box-shadow: none;
}

.select :global(.reactSelect__value-container) {
  height: 31px;
  padding: 0 12px;
}

.select :global(.reactSelect__single-value) {
  margin: 0;

  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;

  color: var(--color-gray);
}

.select :global(.reactSelect__input-container) {
  margin: 0;
  padding: 0;
}

.select :global(.reactSelect__indicator-separator) {
  display: none;
}

.select :global(.reactSelect__dropdown-indicator) {
  padding: 4px 10px;
  color: var(--color-gray);
}

.select :global(.reactSelect__dropdown-indicator:hover) {
  color: var(--color-gray);
}

.select :global(.reactSelect__dropdown-indicator svg) {
  width: 16px;
  height: 16px;
}

.select :global(.reactSelect__menu) {
  width: 169px;

  margin-top: 6px;

  border: 1px solid var(--color-light-gray);
  border-radius: 8px;

  background: var(--color-white);
  overflow: hidden;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.select :global(.reactSelect__menu-list) {
  padding: 8px;
}

.select :global(.reactSelect__option) {
  padding: 8px 12px;

  border-radius: 4px;

  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;

  color: var(--color-gray);
  background: var(--color-white);

  cursor: pointer;
  transition: background-color 0.2s;
}

.select :global(.reactSelect__option:hover) {
  background: var(--color-white);
}

.select :global(.reactSelect__option--is-focused) {
  background: var(--color-white);
}

.select :global(.reactSelect__option--is-selected) {
  background: var(--color-white);
  color: var(--color-gray);
}

.loading {
  margin: 40px 0;
  text-align: center;
}

.select :global(.reactSelect__dropdown-indicator svg) {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  fill: none;
}
